// colors
$border-color: #ddd !default;

// font
$font-size: 12pt !default;
$font-size-screen: 20px !default;
$line-height: 1.5em !default;
$font-base: serif !default;
$font-base-screen: $font-base !default;
$font-mono: monospace !default;
$font-headline: $font-base !default;
$font-footnote: $font-headline !default;
