<!DOCTYPE html>
<html lang="<%=lang%>">
  <head>
    <meta charset="UTF-8" />
    <%# prince needs the old style charset definition %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <%= styles %>
  </head>
  <body>
  <%= import 'content/*' %>

  <%= scripts %>
  </body>
</html>
