// 3rd party imports
@import "compass/typography";
@import "compass/css3/images";

// config
@import "pubtml/settings";

// helper imports
@import "pubtml/mixins";
@import "pubtml/text";

// style modules
@import "pubtml/code";
@import "pubtml/figure";
@import "pubtml/footnote";
@import "pubtml/headline";
@import "pubtml/page";
@import "pubtml/quote";
@import "pubtml/ref";
@import "pubtml/toc";

.chapter, .appendix {
  page-break-after: always;
}
.titlepage {
  page: blank;
}

title {
  //string-set: title content();
}

p {
  margin: 0;
  margin-bottom: $line-height;
  text-align: justify;
  @include hyphens(auto);
  -webkit-hyphenate-character: '-';
  -webkit-locale: $language;

  /* The minimum number of lines that must be left at the bottom of a page */
  orphans: 5;
  /* The minimum number of lines that muse be left at the top of a page */
  widows: 5;

  * {
    text-align: left;
  }
}

p + p {
  text-indent: 1.5em;
  margin-top: -$line-height;

  @media print {
  }
  * {
    text-indent: 0;
  }
}

caption {
  font-style: italic;
}
