code, tt, pre {
  background-color: #f8f8f8;
  font-size: $font-size-mono;
  @media screen {
    font-size: $font-size-mono-screen;
  }
  font-family: $font-mono;
  //line-height: 1.4;
  border: 1px solid #dedede;
  padding: .1em .2em;

  border-radius: .2em;
}
code, tt {
}

pre {
  overflow: auto;
  padding: .3em;
  margin: 1ex 0;
  text-align: left;
  border-radius: .2em;
  &, &[class*="language-"] {
    white-space: pre-wrap;
  }
  @include hyphens(none);

  code, tt {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  & > code {
    display: block;
  }
}
