code, tt, pre {
  background-color: #f8f8f8;
  font-size: $font-size-mono;
  @media screen {
    font-size: $font-size-mono-screen;
  }
  font-family: $font-mono;
  //line-height: 1.4;
  border: 1px solid #dedede;
  padding: rem(.1) rem(.2);

  border-radius: rem(.2);
}
code, tt, html code[class*="language-"] {
  white-space: normal;
}

pre {
  overflow: auto;
  padding: rem(.3);
  margin: 1ex 0;
  text-align: left;
  border-radius: rem(.2);
  white-space: pre;
  html &, html &[class*="language-"], code[class*="language-"] {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;

    .token.tag, .token.property, .token.number, .token.boolean {
      word-break: normal;
    }
    body.print & {
      white-space: pre-wrap;
    }
  }
  @include hyphens(none);

  code, tt {
    background-color: transparent;
    border: none;
    padding: 0;
    white-space: pre-wrap;
  }
  & > code {
    display: block;
  }
}
