body {
  counter-reset: figure;
}
html {
  counter-reset: example;
}
figure, .figure {
  margin: rem(1) 0;
  display: block;
  page-break-inside: avoid;
  /*text-align: center;

  * {
    text-align: left;
  }*/


  figcaption, .figcaption {
    text-align:center;
    font-size: rem(.9);
    margin: 0 rem(2);
    &::before{
      font-weight: bold;
    }
  }

  &:not(.example) {
    counter-increment: figure;
    figcaption::before {
      content: t("Figure") " " counter(figure)": ";
    }
  }
  &.example {
    counter-increment: example;
    figcaption::before{
      content: t("Example") " " counter(example)": ";
    }
  }
  &.table {
    counter-increment: table;
    figcaption::before{
      content: t("Table") " " counter(table)": ";
    }
  }
}
