@mixin footnote-link {
  text-decoration: none;
  &:not(.here)::after, &.here {
    font-size: .8em;
    @include hyphens(none);
    font-family: monospace;
    word-wrap: break-word;
    word-break: break-all; // shouldn't be necessary, but chrome requires this to be set too
  }
  &:not(.here) {
    &::after {
      content: " [" attr(href) "]";
    }
  }
}
@mixin footnote($counter: footnote) {
  counter-increment: $counter;
  float: footnote;
  font-family: $font-footnote;
  footnote-style-position: outside;
  font-style: normal;
  font-size: rem(.8);
  color: $color;

  &::footnote-call,
  &::footnote-marker  {
    font-size: 83%;
    font-family: $font-footnote;
    content: "[" counter($counter) "]";
  }

  &::footnote-call {
    vertical-align: super;
    line-height: none;
    color: inherit;
  }
  &::footnote-marker {
    padding-right: rem(.2);
    line-height: $line-height;
    //footnote-style-position: inside;
  }

  a {
    @include footnote-link;
  }
}
a.here {
  @include footnote-link;
}

sup, ref, .footnote {
  @include footnote;
  @media screen {
    float: right;
    $width: rem(20);
    $offset: rem(8);
    margin-right: - ($width + $offset);
    width: $width;
    margin-left: $offset;
    word-wrap: break-word;
    clear: right;
    border-top: 2px solid #EEE;
    background: rgba(253, 253, 253, .8);
    padding: .3em;
  }
}
@page {
  @footnotes {
    border-top: solid $border-color thin;
    border-clip: 100px 100px;
    padding: rem(.3) 0 rem(.3) 2em;
    margin-top: rem(0.6);
  }
}
