@mixin footnote-link {
  &:not(.here)::after, &.here {
    font-size: .9em;
    @include hyphens(none);
    font-family: monospace;
    word-wrap: break-word;
    word-break: break-all; // shouldn't be necessary, but chrome requires this to be set too
  }
  &:not(.here)::after {
    content: " [" attr(href) "]";
    font-size: .8em;
  }
}
@mixin footnote($counter: footnote) {
  counter-increment: $counter;
  float: footnote;
  font-family: $font-footnote;
  footnote-style-position: outside;
  font-style: normal;
  font-size: .8em;

  &::footnote-call,
  &::footnote-marker  {
    font-size: 83%;
    font-family: $font-footnote;
    content: "[" counter($counter) "]";
  }

  &::footnote-call {
    vertical-align: super;
    line-height: none;
  }
  &::footnote-marker {
    padding-right: .2em;
    line-height: $line-height;
    //footnote-style-position: inside;
  }

  a {
    @include footnote-link;
  }
}
a.here {
  @include footnote-link;
}

sup, ref, .footnote {
  @include footnote;
  @media screen {
    float: right;
    $width: 20em;
    $offset: 6em;
    margin-right: - ($width + $offset);
    width: $width;
    margin-left: $offset;
    word-wrap: break-word;
    clear: right;
    border-top: 2px solid #EEE;
  }
}
@page {
  @footnotes {
    border-top: solid $border-color thin;
    border-clip: 100px 100px;
    padding: 0.3em 0;
    margin-top: 0.6em;
  }
}
