h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid;
  text-align: left;
  font-family: $font-headline;
  line-height: 1.2;
  margin: 2em 0 rem(.5);
}
hgroup {
  margin-top: 3em;
  h1, h2, h3, h4, h5, h6 {
    margin-top: rem(.5);
  }
}
h1 {
  font-size: rem(1.5);

  &:not(.page h1, .titlepage h1) {
    page-break-before: always;
  }
}
h2 {
  font-size: rem(1.3);
}
h3, h4, h5, h6 {
  font-size: rem(1.15);
}
/*
html {
  counter-reset: headerone;
}
h1{
  counter-reset: headertwo;
  &::before{
    counter-increment: headerone;
  }
}*/
/*
body {
  counter-reset: headertwo;
}
h2 {
  counter-reset: headerthree;
  &::before {
    counter-increment: headertwo;
    content: counter(headertwo) ". ";
  }
}
  /*&.nonumber, &.notoc{
    &::before {
      counter-increment: headertwo 0;
      content: "" !important;
    }
  }*/
//}
/*
h3 {
  //counter-reset: headerfour;
  /*&::before {
    counter-increment: headerthree;
    //content: string(sectionstr) counter(headerthree) ". ";
    /*content: counter(headertwo) "." counter(headerthree) ". ";
  }
}
/*h4 {
  &::before {
    counter-increment: headerfour;
    content: counter(headertwo) "." counter(headerthree) "." counter(headerfour) ". ";
  }
}
*/
