h1 {
  string-set: header t("Chapter") " " attr(data-section-number) ": " content();
}

title {
  string-set: doctitle content();
}

@page {
  size: A4 portrait;
  /*margin: 2cm 5cm 2cm 2cm;*/
}
@page:right {
  margin: 2.5cm 2cm 3cm 3cm;
  @top-right {
    content: string(header, first);
    font-family: $font-headline;
  }
  @bottom-right {
    content: counter(page);
    font-family: $font-headline;
    font-size: rem(.8);
  }
}
@page:left {
  margin: 2.5cm 3cm 3cm 2cm;
  @top-left {
    content: string(doctitle);
    font-family: $font-headline;
  }
  @bottom-left {
    content: counter(page);
    font-family: $font-headline;
    font-size: rem(.8);
  }
}

html {
  margin: 0;

  @media screen {
    background-color: #AAA;
    zoom: 1.1;
    @include background(linear-gradient(left, #BBB, #999, #BBB));
    @include background(linear-gradient(left, #FFF, #EEE, #FFF));
  }

  line-height: 1.5;
  color: $color;
  background: none;
  font-size: $font-size;
  @include hyphens(auto);
  text-align: left;
  margin: 0;
  padding: 0;
  orphans: 1;
  widows: 1;
  font-family: $font-base;
  text-rendering: optimizeLegibility;

  @media screen {
    font-size: $font-size-screen;
    font-family: $font-base-screen;
  }
}

body {
  @media screen {
    width: 21cm;
    margin: 2cm auto;
    padding: 2cm;
    padding: 3.5cm 3cm 3cm 2cm;
    box-sizing: border-box;

    background-color: #FFF;
    box-shadow: 0 0 rem(3) #666;
    box-shadow: 0 0 rem(3) #CCC;
    border: 1px solid #888888;
    border: 1px solid #CCC;
  }
}

.titlepage, .page, #toc,
.mainmatter, .frontmatter, .backmatter {
  page-break-after: always;
  page-break-before: always;
}

.titlepage {
  page: blank;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  hgroup {
    &.title {
      margin: 3cm .5cm 1cm;
    }
    &, > p {
      text-align: center;
    }
    margin-bottom: rem(2);
  }
  .bottom {
    margin-top: 10cm;
  }
  .footnote {
    display: none;
  }
  p {
    /*font-size: rem(1.4);*/
  }
  @media screen {
    padding-bottom: rem(5);
  }
}

@page blank :left {
  @top-left { content: normal }
  @bottom-left { content: normal }
}

@page blank :right {
  @top-right { content: normal }
  @bottom-right { content: normal }
}

.appendix {
  page-break-before: always;
}
