h1 {
  string-set: header content();
}

@page {
  size: A4 portrait;
  margin: 2cm 5cm 2cm 2cm;
}
  @page:right {
    @top-right {
      content: string(header, first);
      font-family: $font-headline;
    }
  }
  @page:left {
    @bottom-left {
      content: counter(page);
      font-family: $font-headline;
    }
  }


html {
  margin: 0;

  @media screen {
    background-color: #AAA;
    @include background(linear-gradient(left, #BBB, #999, #BBB));
    @include background(linear-gradient(left, #FFF, #EEE, #FFF));
  }

  line-height: 1.5;
  color: black;
  background: none;
  font-size: $font-size;
  @include hyphens(auto);
  text-align: left;
  margin: 0;
  padding: 0;
  orphans: 1;
  widows: 1;
  font-family: $font-base;
  text-rendering: optimizeLegibility;

  @media screen {
    font-size: $font-size-screen;
    font-family: $font-base-screen;
  }
}

body {
  @media screen {
    width: 21cm;
    margin: 2cm auto;
    padding: 2cm;
    background-color: #FFF;
    box-shadow: 0 0 3rem #666;
    box-shadow: 0 0 3rem #CCC;
    border: 1px solid #888888;
    border: 1px solid #CCC;
  }
}

.titlepage,
#toc {
  page-break-after: always;
  page-break-before: always;
}

.titlepage {
  page: blank;
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  hgroup {
    &, > p {
      text-align: center;
    }
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.4rem;
  }
  @media screen {
    padding-bottom: 5rem;
  }
}

@page blank :left {
  @top-left { content: normal }
  @bottom-left { content: normal }
}

@page blank :right {
  @top-right { content: normal }
  @bottom-right { content: normal }
}
