ol.toc {
  counter-reset: tocheadertwo tocheaderthree tocheaderfour tocappendix;
  page-break-before: avoid;

  & > li {
    font-weight: bold;
    margin-bottom: rem(.5);
  }

  a {
    color: inherit;
    text-decoration: none;
    &::after {
      content: leader(". ") target-counter(attr(href), page);
      font-style: normal;
    }
    page-break-after: avoid;
  }

  &, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ol {
    margin-left: rem(1);
    font-weight: normal;
  }
  .appendix + ol {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6, ol.toc a {
  &[data-section-number] {
    &::before {
      content: attr(data-section-number) ". ";
    }
    &.appendix::before {
      content: attr(data-section-number) " ";
    }
  }
}
section.appendix [data-section-number]:not(h1)::before {
  content: "";
}
